[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "==5.0.0"
flask-cors = "*"

[dev-packages]
pylint = "*"
yapf = "*"
pylint-quotes = "*"
awsebcli = "*"

[requires]
python_version = "3.6"
